<!-- tag selector -->
<!-- <app-myapp></app-myapp> -->

<!-- class selector -->
<!-- <div class="app-myapp">
  

</div> -->
<h1>{{message}}</h1> 

<app-myapp (outtest)="message=($event)"[property]="title" [namess]="name"  [property]="frnd" [obj]="arr1" > 
    
    <!-- message=messagefromchild($event) -->
</app-myapp>

<app-services >

</app-services>
<app-services1>
    
</app-services1>
<!-- attribute selector -->
<!-- <div app-myapp></div> -->
<!-- <div class="app-newcomp"></div> -->
<!-- <div class="app-sidebar"></div> -->

